<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block  layout:fragment="content">
    <th:block th:replace="/fragments/usersidebar.html"></th:block>

    <link rel="stylesheet" href="/css/QnA/QnAmain.css">







    <div class="middle_box">
        <div class="middle">
            <div class="first">
                <span>프로젝트 QnA</span>
            </div>

            <div>
                <img class="logo1" src="/images/01_logoimg/textLogoNone.png"  width="150px" height="150px" >
            </div>


            <div class="writepo"><div class="write"><a class="black-link" th:href="@{/QnA/userwrite}">작성</a></div></div>

            <div class="searchQnA"></div>
            <div class="searchright">


                <form th:action="@{/QnA/usermain}" id="search" method="get">
                    <div class="searchcontainer">

                        <!--                오른쪽 박스-->
                        <div class="searchright">
                            <input type="text" name="searchValue" id="searchValue">
                            <input type="hidden" name="currentPage" value="1">
                            <select name="nation3" id="nation3">

                                <option selected>검색컬럼</option>
                                <option value="number">작성번호</option>
                                <option value="title">제목</option>
                                <option value="reporter">작성자</option>
                                <option value="date">작성일</option>
                            </select>
                        </div>

                        <button type="submit">설정</button>

                    </div>
                </form>
            </div>


            <div>

                <table id="listArea">

                    <tr>
                        <th>작성번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변상태</th>
                    </tr>


                  <tr th:each="QnA: ${QnAMainPage}" th:onclick="@{/QnA/userclose(no=${QnA.creationNo})}" >
                        <td th:text="${QnA.creationNo}"></td>
                        <td th:text="${QnA.title}"></td>
                        <td th:text="${QnA.userId}"></td>
                        <td th:text="${QnA.creation}"></td>
                        <td>
                            <button class="status"></button>
                            <input type="hidden" class="Val" th:value="${QnA.answerDay}"></input>
                        </td>
                    </tr>

                </table>
                <div class="pagination" align="center">
                    <div class="pagination-box">

                        <!-- 이전 페이지 버튼 -->
                        <button class="prev"
                                th:onclick="'location.href=\'/QnA/usermain?currentPage='
                            + @{${selectCriteria.pageNo - 1}}
                            +'&searchValue='+ @{${selectCriteria.searchValue}}
                            +'&nation3='+ @{${selectCriteria.nation3}} + '\''"
                                th:disabled="${selectCriteria.pageNo == 1}">



                            <
                        </button>

                        <!-- 숫자 버튼 -->
                        <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                            <button class="page-link"
                                    th:text="${ page }"
                                    th:onclick="'location.href=\'/QnA/usermain?currentPage='
                            + @{${page}}
                            +'&searchValue='+ @{${selectCriteria.searchValue}}
                            +'&nation3='+ @{${selectCriteria.nation3}} + '\''"
                                    th:disabled="${ selectCriteria.pageNo eq page }">
                            </button>
                        </th:block>

                        <!-- 다음 페이지 버튼 -->
                        <button class="prev"
                                th:onclick="'location.href=\'/QnA/usermain?currentPage='
                            + @{${selectCriteria.pageNo + 1}}
                            +'&searchValue='+ @{${selectCriteria.searchValue}}
                            +'&nation3='+ @{${selectCriteria.nation3}} + '\''"
                                th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
                        >
                            >
                        </button>

                    </div>
                </div>

            </div>
        </div>


    </div>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const answerStatusValElements = document.querySelectorAll('.Val');
            const answerStatusElements = document.querySelectorAll('.status');

            answerStatusElements.forEach(function (statusElement, index) {
                const valElement = answerStatusValElements[index];
                if (valElement.value.trim() !== '') {
                    statusElement.textContent = '답변완료';
                    statusElement.classList.add('close');
                }else {
                    statusElement.textContent = '답변중';
                    statusElement.classList.add('ing');
                }
            });
        });



        document.addEventListener("DOMContentLoaded", function() {
            if (document.querySelectorAll("#listArea td")) {
                const $tds = document.querySelectorAll("#listArea td");
                for (let i = 0; i < $tds.length; i++) {
                    $tds[i].onclick = function() {
                        const no = this.parentNode.children[0].innerText;
                        location.href = "/QnA/userclose?creationNo=" + no;

                    }
                }
            }
        });


    </script>


</th:block>
</html>