<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block  layout:fragment="content">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/cart/cart.css}">






    <!-- 헤더끝 -->

    <!-- 헤더끝 -->
    <div class="bodyking">



        <!-- 사이드바 배경 -->
        <th:block th:replace="/fragments/usersidebar.html"></th:block>


        <!--    사이드바 끝-->

        <div class="mid-con">
            <h3>장바구니</h3>
            <div class="mid">
                <div class="midmenu" >
                    <form th:action="@{/order/buypage}" method="post" id="cartInfoForm" onsubmit="sendDataToServer()">
                        <div class="logo">
                            <a href=""><img src="/images/minicon/로고2.png" width="150px" alt=""></a>
                        </div>
                        <div class="mypage">
                            <span><a th:href="@{/이전페이지}"><img src="/images/minicon/backicon.jpg" width="25px" alt=""></a> 마이페이지</span>
                        </div>
                        <div class="criteria">
                            <span class="criteria1">상품명</span>
                            <span class="criteria2">주문수량</span>
                            <span class="criteria3">가격</span>
                        </div>

                        <div class="menucheck" id="cartList" name="cartList" th:each="cart: ${cart}">
                            <div class="checkbox-con">
                                <input type="checkbox" class="checkbox" name="cartCode" th:value="${cart.cartCode}">
                                <input type="hidden" class="hdCounterValue" name="hdCounterValue" value="">
                            </div>
                            <div class="foodimg">
                                <img th:src="@{|/thumbPath/${cart.getChangeName()}|}">
                            </div>
                            <div class="nameAndCount">
                                <div class="projectTitle" name="name1" th:text="${cart.projectTitle}" id="projectTitleCheck"></div>
                                <div class="name2" th:text="${cart.optionType}"></div>
                                <button class="count remain" style="height: 30px" th:onclick="remain" id="remain"></button>
                                <input type="hidden" class="count end" th:value="${#dates.format(cart.end, 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                            <div class="btn-con">
                                <button class="btn decrease">-</button>
                                <span class="counter-value">1</span>
                                <button class="btn increase">+</button>
                            </div>
                            <div class="price-con">
                                <div class="total product" id="total" th:text="${cart.price}"></div>
                                <input type="hidden" class="price" id="price" th:value="${cart.price}">
                            </div>
                            <div class="trash-con">
                                <button class="trash-btn" onclick="removeRow(this)">
                                    <img src="/images/minicon/trashicon.png" alt="" width="20px">
                                </button>
                            </div>
                        </div>


                        <div class="bilge-con">
                            <div class="bilge">
                                <div class="coupon-action" >
                                    <div>
                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="coupon-btn">
                                        <input type="hidden" class="coupon" th:value="${cart[0].coupon}"></input>
                                    </div>

                                </div>



                                <div class="total-product-amount">
                                    <span class="total-amount">상품 전체금액</span>
                                    <span class="total-price" id="total-price">0won</span>
                                    <input type="hidden" name="hdTotalPrice" id="hdTotalPrice" value="total-price">
                                </div>

                            </div>

                        </div>

                        <div class="paybtn-con">

                            <button  type="submit" class="paybtn">결제하기</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>


    <script src="/js/cart.js"></script>

    <!--Content-Type: application/json은 데이터가 JSON이라는 것을 명시 -->
    <script>
        function sendDataToServer() {
            let selectedCartCodes = Array.from(document.querySelectorAll('input[type="checkbox"]:checked')).map(checkbox => checkbox.value);

            // 선택된 각 cartCode의 개수를 카운트하기 위해 빈 객체를 만듭니다.
            let cartCodeCount = {};

            // 선택된 각 cartCode의 개수를 세어 카운트합니다.
            selectedCartCodes.forEach(function(cartCode) {
                if (cartCodeCount[cartCode]) {
                    cartCodeCount[cartCode]++;
                } else {
                    cartCodeCount[cartCode] = 1;
                }
            });

            // 선택된 체크박스에 대한 hdCounterValue 값을 설정합니다.
            document.querySelectorAll('input[type="checkbox"]:checked').forEach(function(checkbox) {
                let hdCounterValue = checkbox.closest('.menucheck').querySelector('.hdCounterValue');
                let counterValue = hdCounterValue.closest('.menucheck').querySelector('.btn-con .counter-value').innerText;
                hdCounterValue.value = counterValue || 0;
            });
        }
</script>


</th:block>
</html>